.message-container {
  margin-left: -16px;
  margin-bottom: 1px;
}

.messager-toast-container {
  color: var(--md-primary-white);
  font-size: 1.25em;
  font-weight: 800;
}

.messager-toast-progress {
  background: rgba(255, 255, 255, .7);
}

.messager-info {
  background-color: var(--md-primary-blue);
}

.messager-error {
  background-color: var(--md-primary-red);
}

.messager-misc {
  background-color: var(--md-secondary-white);
}

.messager-success {
  background-color: var(--md-primary-teal);
}

.messager-warn {
  background-color: var(--md-primary-orange);
}
