.active-title>span>span {
  animation: fade-and-scale 0.5s cubic-bezier(0.71, 0.55, 0.62, 1.57);
  font-size: 1.1em;
  font-weight: bold !important;
}

/* .step-title {
  pointer-events: none;
} */

.end-text>p {
  margin-bottom: 20px;
}

.ondrag>div {
  background-color: var(--md-primary-grey);
  outline: 2px dashed var(--md-primary-blue);
  transition: background-color 250ms var(--animation-cubic-bezier);
  pointer-events: all;
}

.nodrag>div {
  background-color: none;
}

.navigation-button {
  height: 60px;
  margin-bottom: -10px;
  margin-right: 15px;
  text-align: right;
}

.step-content {
  margin: 20px;
}

.step {
  position: relative;
}

.step div {
  pointer-events: none;
}

.no-pointer-events {
  pointer-events: none;
}

.faded {
  opacity: 0;
}

.pulse {
  opacity: 1;
  box-shadow: 0 0 0 rgba(var(--md-primary-white-rgba), 0.5);
  animation: pulse 1.5s infinite;
  transition: opacity 750ms var(--animation-cubic-bezier), background-color 250ms var(--animation-cubic-bezier) 0ms, box-shadow 250ms var(--animation-cubic-bezier) 0ms !important;
}

@keyframes fade-and-scale {
  from {
    opacity: 0;
    transform: scale(.9, .9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--md-primary-white-rgba), 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(var(--md-primary-white-rgba), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--md-primary-white-rgba), 0);
  }
}
