:root {
  --bg-primary-color: #101215;
  --bg-secondary-color: #21252b;
  --border-primary-color: #2b2e33;
  --md-primary-blue: #2196F3;
  --md-primary-brown: #795548;
  --md-primary-green: #4CAF50;
  --md-primary-grey: #9E9E9E;
  --md-primary-indigo: #3F51B5;
  --md-primary-orange: #FF9800;
  --md-primary-pink: #E91E63;
  --md-primary-purple: #9C27B0;
  --md-primary-red: #F44336;
  --md-primary-teal: #009688;
  --md-primary-yellow: #FFEB3B;
  --md-primary-white: #FAFAFA;
  --md-primary-white-rgba: 250, 250, 250;
  --md-secondary-blue: #0D47A1;
  --md-secondary-brown: #3E2723;
  --md-secondary-green: #1B5E20;
  --md-secondary-grey: #212121;
  --md-secondary-indigo: #3F51B5;
  --md-secondary-orange: #E65100;
  --md-secondary-pink: #880E4F;
  --md-secondary-purple: #4A148C;
  --md-secondary-red: #B71C1C;
  --md-secondary-teal: #004D40;
  --md-secondary-white: #424242;
  --md-secondary-yellow: #F57F17;
  --animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
