html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: var(--bg-primary-color);
}

@font-face {
  font-family: 'Maken';
  src: url('./assets/fonts/maken-bold.woff2') format('woff2'), url('./assets/fonts/maken-bold.woff') format('woff');
}

@font-face {
  font-family: 'RussianQuality';
  src: url('./assets/fonts/russian-quality.woff2') format('woff2'), url('./assets/fonts/russian-quality.woff') format('woff');
}
