.progress-bar {
  margin-bottom: 10px;
}

.different-hashes>input {
  color: var(--md-primary-red);
}

.same-hashes>input {
  color: var(--md-primary-green);
}

.no-comparison-hash>input {
  color: var(--md-primary-blue);
}

.results div {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
